# Machine-specific settings for Rulka. Copy to .env and fill in your values.
# .env is gitignored.

USERNAME=PlayerName
TRACKMANIA_BASE_PATH=C:\Users\user\Documents\TrackMania
TARGET_PYTHON_LINK_PATH=C:\Users\user\Documents\TMInterface\Plugins\Python_Link.as
BASE_TMI_PORT=8478
LINUX_LAUNCH_GAME_PATH=path_to_be_filled_only_if_on_linux
WINDOWS_TMLOADER_PATH=C:\Users\user\AppData\Local\TMLoader\TMLoader.exe
WINDOWS_TMLOADER_PROFILE_NAME=default
